.header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 49px;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    z-index: 5;
}